.counter-holder {
    background-color: black;
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 1rem;
}

.digit {
    color: white;
    font-weight: bolder;
    font-size: 2rem;
}

.container {
    margin-top: 0.5rem;
}
